@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Raleway", sans-serif;
}
p {
  font-size: 14px;
  line-height: 20px;
  font-family: "poppins";
  font-weight: 400;
  color: whitesmoke;
}

/* input */
input::placeholder,
textarea::placeholder {
  color: white !important;
  opacity: 0.5 !important;
}

/* icon  */
.ant-input-affix-wrapper .anticon.ant-input-password-icon {
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.3s;
}
.ant-input-affix-wrapper .anticon.ant-input-password-icon:hover {
  color: whitesmoke;
  cursor: pointer;
  transition: all 0.3s;
}

.ant-modal .ant-modal-close {
  color: #ffffff !important;
}
.ant-modal .ant-modal-close:hover {
  background-color: #a11d26;
}
/* Avatar */
.ant-space-gap-col-small {
  column-gap: 12px;
}
.ant-space-gap-col-small:hover {
  font-weight: 600;
  color: Black !important;
}

/* Card */
.ant-card .ant-card-head {
  border-bottom: 1px solid grey !important;
  min-height: 60px !important;
}

.ant-card-body {
  background-color: #232323;
}

/* ant design modal footer top margin remove */
.ant-modal-footer {
  margin-top: 0 !important;
}

/* ant design menu option */
.ant-menu-item:hover {
  background-color: #a11d26 !important;
  /* background: linear-gradient(90deg, #440093 0%, #975cdb 100%); */
  color: #ffffff !important;
}
.ant-menu-submenu-title:hover {
  background-color: #a11d26 !important;
}
.ant-menu-item .ant-menu-item-selected {
  background-color: #a11d26 !important;
  color: #ffffff !important;
}
.ant-menu-item .ant-menu-item-active .ant-menu-item-selected {
  background-color: #a11d26 !important;
  color: #ffffff !important;
}
.ant-menu .ant-menu-submenu-title {
  margin-left: 0;
}
.ant-menu-light .ant-menu-item-selected a {
  color: white !important;
}
.ant-menu-light .ant-menu-item a:hover {
  color: white !important;
}
/* .ant-menu-submenu .ant-menu-submenu-inline .ant-menu-submenu-open {
  background-color: #ffc301;
} */

/* .ant-menu-item {
  background-color: #ffffff !important;
  color: black !important;
} */

.ant-menu-item-selected {
  background-color: #a11d26 !important;
  color: white !important;
}

.ant-menu-title-content {
  color: white !important;
}
.ant-menu-item {
  background-color: #18191b;
  margin: 20px 0px !important;
  height: 50px !important;
  margin-left: 5px !important;
}
.ant-menu .ant-menu-item .ant-menu-item-icon + span {
  transition: none !important;
}

.ant-menu-item-icon {
  font-size: xx-large;
  font-weight: bolder;
}

.ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: white !important;
  background-color: #18191b;
}
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  width: 70px;
}
.ant-menu-submenu-title {
  background-color: #18191b;
  height: 50px !important;
}
.ant-menu .ant-menu-submenu {
  margin-left: 5px;
}
.ant-menu .ant-menu-title-content {
  transition: none !important;
}
.ant-menu .ant-menu-submenu .ant-menu .ant-menu-submenu-title {
  border-radius: 8px;
  margin-right: -4px;
}
.ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  width: 271px !important;
  margin-right: 0px;
}
.ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon {
  margin-top: 12px;
  margin-left: -4px;
  font-size: 16px;
  line-height: 40px;
}
.ant-menu-inline-collapsed
  > .ant-menu-submenu
  > .ant-menu-submenu-title
  .ant-menu-item-icon {
  margin-top: 12px;
  margin-left: -3px;
}

.ant-input-outlined {
  outline: none;
}

.ant-badge .ant-badge-count {
  background: red !important;
  color: black !important;
  border: none;
  outline: none;
}

.jodit-workplace {
  height: 550px !important;
}

.ant-menu-item-icon {
  color: white !important;
}

.ant-menu .ant-menu-submenu-title .ant-menu-item-icon {
  color: white !important;
}

.ant-menu .ant-menu-submenu-title {
  color: white !important;
}

.ant-collapse > .ant-collapse-item {
  border-bottom: none;

  /* height: 90px; */
}
.ant-collapse
  > .ant-collapse-item
  > .ant-collapse-header
  .ant-collapse-header-text {
  padding: 10px;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content {
  border-bottom: none;
  margin-left: 60px;
}
.ant-collapse > .ant-collapse-item {
  border-bottom: 1px solid rgba(226, 226, 226, 0.8);
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  padding: 20px;
}

.ant-card .ant-card-head {
  border-bottom: none;
  min-height: 120px;
}
.ant-card-head-title {
  color: white !important;
}
:where(.css-dev-only-do-not-override-1qeagc6).ant-card:not(.ant-card-bordered) {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  color: "#929394";
}

.ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select {
  width: 100%;
  height: 130px;
  background-color: #ffffff;
}

.jodit-container:not(.jodit_inline) {
  border-radius: 5px;
}

.jodit .jodit-workplace .jodit-wysiwyg,
.jodit .jodit-workplace .jodit-wysiwyg_iframe,
.jodit-container .jodit-workplace .jodit-wysiwyg,
.jodit-container .jodit-workplace {
  border-radius: 5px;
}

/* .ant-pagination .ant-pagination-item a {
  color: white !important;
  border: none !important;
} */

.ant-pagination .ant-pagination-item a:hover {
  background-color: #a11d26 !important;
  color: white !important;

  border-radius: 5px !important;
  /* transform: scale(1); */
}

.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #975cdb;
}

.ant-steps
  .ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background: #975cdb;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: #975cdb;
}

.ant-select-selection-item {
  color: white !important;
}
.ant-select-selection-item-remove {
  color: white !important;
}
.ant-select-selection-placeholder {
  color: #808080 !important;
}
.ant-select-arrow {
  color: white !important;
}

.ant-select-selector {
  height: 48px !important;
  border: none !important;
}
.anticon-check {
  color: #000;
}

.ant-upload {
  background-color: #000 !important;
  border-radius: 8px;
}

:where(
    .css-dev-only-do-not-override-1ao7x06
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select,
:where(
    .css-dev-only-do-not-override-1ao7x06
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload.ant-upload-select {
  text-align: center;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.02);
  border: 2px dashed #808080;
  border-radius: 8px;
  cursor: pointer;
  transition: border-color 0.3s;
}

/* /////////// */
.custom-table .ant-table {
  border-radius: 10px; /* Adjust as needed */
  overflow: hidden; /* Ensures inner content respects border-radius */
}

.custom-table .ant-table-container {
  border-radius: 10px;
}

.custom-table .ant-table-thead > tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

.custom-table .ant-table-thead > tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

.custom-table .ant-table-tbody > tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

.custom-table .ant-table-tbody > tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.ant-pagination .ant-pagination-item-active {
  font-weight: 600;
  background-color: #a11d26;
  border: none !important;
  color: #ffffff !important;
}
/* .ant-pagination .ant-pagination-item a {
  color: none !important;
  border: none !important;
} */
.ant-pagination .ant-pagination-item-active a {
  color: white;
}
:where(.css-dev-only-do-not-override-4ovdcp).ant-pagination
  .ant-pagination-next
  .ant-pagination-item-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 12px;
  text-align: center;
  background-color: #a5a5a5;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  transition: all 0.2s;
}
:where(.css-dev-only-do-not-override-4ovdcp).ant-pagination
  .ant-pagination-prev
  .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-4ovdcp).ant-pagination
  .ant-pagination-next
  .ant-pagination-item-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 12px;
  text-align: center;
  background-color: #a5a5a5;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  transition: all 0.2s;
}

.ant-table-filter-dropdown {
  background-color: #1e1e1e !important; /* Dark background */
}

.ant-table-filter-dropdown .ant-dropdown-menu-item {
  color: white !important; /* White text */
  background: gray;
  margin-top: 2px !important;
}

.ant-table-filter-dropdown .ant-dropdown-menu-item:hover {
  background-color: #a01d25 !important; /* Darker hover effect */
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-selected {
  background-color: gray !important; /* Darker hover effect */
}

:where(.css-dev-only-do-not-override-o0xysr).ant-btn-link {
  color: #a01d25 !important;
}
:where(.css-dev-only-do-not-override-o0xysr).ant-btn-primary {
  color: #fff;
  background: #a01d25 !important;
  box-shadow: "none";
}

:where(.css-dev-only-do-not-override-o0xysr).ant-btn-primary:hover {
  color: #fff;
  background: #a01d25 !important;
  opacity: 0.8 !important;
  box-shadow: "none";
}

:where(.css-dev-only-do-not-override-o0xysr).ant-checkbox-checked
  .ant-checkbox-inner {
  background-color: #a01d25;
  border-color: #a01d25;
}

.ant-dropdown-menu-item
  .ant-dropdown-menu-item-active
  .ant-dropdown-menu-item-selected {
  background-color: #a01d25 !important;
}

.ant-checkbox .ant-checkbox-inner {
  border: none;
}
.ant-table-wrapper .ant-table-filter-trigger.active {
  color: #a01d25;
}

/* popover */
:where(.css-dev-only-do-not-override-11lehqq).ant-popover .ant-popover-inner {
  background-color: #000000;
  background-clip: padding-box;
  border-radius: 8px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
    0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  padding: 12px;
}
